[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gradio = "==3.43.2"
gradio-client = "==0.5.0"
pypinyin = "*"
tiktoken = "*"
socksio = "*"
tqdm = "*"
colorama = "*"
googlesearch-python = "*"
pygments = "*"
langchain = "==0.0.276"
markdown = "*"
pypdf2 = "*"
pdfplumber = "*"
pandas = "*"
commentjson = "*"
openpyxl = "*"
pandoc = "*"
wolframalpha = "*"
faiss-cpu = "==1.7.4"
duckduckgo-search = ">=3.8"
arxiv = "*"
wikipedia = "*"
"google.generativeai" = "*"
openai = ">=0.27.9"
unstructured = "*"
google-api-python-client = "*"
tabulate = "*"
ujson = "*"
python-docx = "*"
websocket-client = "*"
pydantic = "==1.10.8"
google-search-results = "*"

[dev-packages]

[requires]
python_version = "3.11"
